* {
    box-sizing: border-box; /*kolom utamanya*/
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  /* Header coyy*/
  header {
    background-image: url(headerr.png);
    height: 80px;
    text-align:center;
    font-size: 35px;
    color: white;
  }
  
  /* List materinya*/
  nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    width: 20%;
    height: 480px;  
    background: #ff5252;
    padding: 20px;
  }
  
  .nav a {
    background-color: #ff5252; /* warna buttonnya*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #7d2941;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
  
  .dropdown .dropbtn {
    background-color: #ff5252; /* warna buttonnya*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #7d2941;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: #633e5a;
  }
  
  .dropdown-content {
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ff7373; /* warna buttonnya*/
    border: 1px solid #7d2941;
    min-width: 245px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    border: 1px solid #7d2941;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ffebee;
    border: 1px solid #7d2941;
    color: black;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .text{
    color: white;
    font-size: 20px;
  }
  .divscratch{
    overflow-y:hidden;
    height: 372px;
  }

  .scratch{
    margin-top: -44px;
    width: 60%;
    height: 412px;
  }
  
  .bttn{
    background-color:#ff5252; /* warna buttonnya*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #7d2941;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block 
  }
  .bttn-nav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .bttn-nav .button:hover {
    background-color: #633e5a;
    
  }
  .button-nav .button {
    background-color:#ff8a80; /* warna buttonnya*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #7d2941;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
  }
  
  .button-nav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .button-nav .button:hover {
    background-color: #633e5a;
    
  }
  .lanjut{
    background-color: #ff5252;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 350px;
  }

  .lanjut:hover {background-color: #ff8a80}

  .lanjut:active {
    background-color: #ff8a80;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
.petunjuk{
  background-color: #ff5252;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.petunjuk:hover {background-color: #ff8a80}

.petunjuk:active {
  background-color: #ff8a80;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#petunjuk {
  width: 100%;
  height: 150px;
  text-align: left;
  background-color: #ffccb2;
  border: 3px solid red;
  border-radius: 8px;
  padding:10px ;
  margin-top: 10px;
}

.hilang{
  display:none;
  }
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  .arahan{
  font-weight: 600;
  color: red;
  font-style: italic;
  }

  article{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; 
    font-weight: 00; 
    line-height: 26.4px;
    text-align: justify;
    float: right;
    padding: 20px;
    width: 80%;
    background-color: #ffccb2;
    height: 480px; 
    border: 3px dotted red;
    overflow: scroll;
    overflow-x:hidden ;
  }
  
  #pengenalan{
    margin-left: 200px;
  }
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: #6d6875;
    font-family: Baskerville, "Baskerville Old Face",serif; 
    padding: 17px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  
.previous {
  margin-left: 25px;
  background-color: #f1f1f1;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}

.next {
  background-color: #7d2941;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}

  
  #myDIV {
    width: 100%;
    padding: 5px 0;
    background-color: #ffeb3b;
    margin-top: 5px;
  }

  .subsection{
    width: 100%;
    height: 70px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align-last: center;
    color: #ffcc99;
    text-align: center;
    background-color: #d32f2f;
    border: 3px solid #d32f2f;
    border-radius: 8px;
    font-weight: bold;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens, kada ngaruh sih*/
  @media (max-width: 900px) {
    nav{
      width: 100%;
      height: auto;
      float:none;
      font-size: 13px;
    }
    
    article {
      width: 100%;
      height: auto;
      float:none;
      font-size: 14px;
      text-align: justify;
    }
    header {
      background-image: url(headerhp.png);
      background-size: 104% 106% ;
    }
    
    img{
      width: auto;
      height: auto;
    }

    .gmb{
      width: 300px;
      height: 50px;
    }
  
    #pengenalan{
      width: 300px;
      height: 300px;
      margin-left: 1px;
    }

    .subsection{
      height: auto;
      width: 100%;
      font-size: 5vw;
      padding-top: 5px;
      margin-bottom: 0px;
    }

    .lanjut{
      float: left;
    }

    #petunjuk{
      height: 150px;
    }

    .divscratch{
      overflow-y:hidden;
      height: 280px;
      width: 308px;
      margin-bottom: -39px;
    }
  
    .scratch{
      margin-top: -44px;
      width: 100%;
      height: 100%;
    }

    #petunjuk{
      height: 240px;
    }

  }